

@{
    ViewBag.Title = "DeleteCat";
}
@using MvcApplication3.Models
@*<h2>Delete Confirmation</h2>
<html>
<body style="background-image:url('/Content/images/bgp.jpg')">

    <p>Are you sure you want to delete this album? </p>

    @using (Html.BeginForm("DeleteCategory", "StoreManager", FormMethod.Post))
    {
        foreach(Genre g in Model )
     { 
            @Html.Hidden("Id",g.Id)

        @Html.Hidden("Name" ,g.Name)
       

        <p>         <input type="submit" value="Delete" onsubmit="return func()" />     </p>
        <p>         @Html.ActionLink("Back to List", "Main")     </p>

    }

    <script>
        function func()
        {

        }
    </script>
        
</body>

</html>*@

<body style="background-image:url('/Content/images/y.png')">
    <div style="width:400px; margin-right:auto; margin-left:auto; border:1px solid #000;">
       
        <table border="1">

            <tr>
                <td>Id</td>
                <td>Name</td>
                
            </tr>
         
            @foreach (Genre s in Model)
            {

                <tr>
                    <td>@s.Id</td>
                   
                    <td>@s.Name</td>
                    
                    
                    
                    <td>@Html.ActionLink("Delete", "DeleteCategory", new { id = s.Id })</td>
                    
                </tr>
            }
        </table>

    </div>
</body>